{% extends '../layout.twig' %}

{% block body %}
    <style>
        .admin-panel {
            display: flex;
            flex-direction: column;
        }

        .admin-panel-left {
            width: 100%;
            padding: 20px;
        }

        .admin-panel-right {
            width: 100%;
            padding: 20px;
        }

        .container {
            padding: 20px;
            margin-top: 20px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        .change-btn,
        .delete-btn {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .change-btn:hover,
        .delete-btn:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="admin-panel">
        <div class="admin-panel-left">
            <h2>Вітаємо в панелі Адміністратора</h2>
            <p>Тут ви можете змінювати ваше наповнення</p>
            <ul>
                <li><a href="/admin/panel/add" class="add">Додати</a></li>
            </ul>
        </div>
        <div class="admin-panel-right">
            <div class="container">
                <h2>Категорії</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Тип</th>
                        {% for cate in cat %}
                        {% for param in cate.params %}
                            <th>{{ param.title }}</th>
                        {% endfor %}
                        {% endfor %}
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in cat %}
                        <tr>
                            <td>{{ category.title }}</td>
                            <td>{{ category.type }}</td>
                            {% for param in category.params %}
                                <td>{{ param.rating }}</td>
                            {% endfor %}
                            <td><a href="/edit-category/{{ category._id }}"><button class="change-btn">Змінити</button></a></td>
                            <td><a href="/delete-category/{{ category._id }}"><button class="delete-btn">Видалити</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
