{% extends '../layout.twig' %}

{% block body %}
    <style>
        body {
            background: rgba(13, 166, 217, 0.1);
        }

        .zoom-effect {
            transition: transform 0.3s;
        }

        .zoom-effect:hover {
            transform: scale(1.1)
        }

        .admin-panel {
            display: flex;
            flex-direction: column;
        }

        .admin-panel-left {

            width: 100%;
            padding: 20px;
        }

        .admin-panel-right {
            width: 100%;
            padding: 20px;
        }

        .container {
            padding: 20px;
            margin-top: 20px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            padding: 8px;
            border-bottom: 1px solid #ccc;
            white-space: nowrap;
        }

        td {
            text-align: center;
            padding: 8px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .operations {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        button {
            width: 100px;
        }

        .home {
            margin-left: 15px;
        }
    </style>

    <div class="admin-panel">
        <div class="admin-panel-left">
            <h2>Вітаємо в панелі Адміністратора</h2>
            <p>Тут ви можете змінювати ваше наповнення</p>
            <ul style="display: flex; ">
                <li style="margin-right: 10px"><a href="/admin/panel/bulkData" class="add btn btn-primary zoom-effect">Додати</a>
                </li>
                <li><a href="/" class="home btn btn-primary zoom-effect">Повернутися на домашню сторінку</a></li>
            </ul>
        </div>
        <div class="admin-panel-right">
            <div class="container">
                <h2>Всі оцінені категорії</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Операції</th>
                        {% for category in evalCat %}
                            <th>
                                <a href="/edit-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Оцінити</button>
                                </a>
                                <a href="/delete-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Видалити</button>
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Назва</th>
                        {% for category in evalCat %}
                            <td>{{ category.title }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Тип</th>
                        {% for category in evalCat %}
                            <td>{{ category.type }}</td>
                        {% endfor %}
                    </tr>
                    {% for param in evalCat[0].params %}
                        <tr>
                            <th>{{ param.title }}</th>
                            {% for category in evalCat %}
                                {% for categoryParam in category.params %}
                                    {% if categoryParam.title == param.title %}
                                        <td>{{ categoryParam.rating }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# Таблиця  вже оцінених #}
            <div class="container">
                <h2>Категорії, які були оцінені вами</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Операції</th>
                        {% for category in userEvalSystem %}
                            <th>
                                <a href="/edit-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Оцінити</button>
                                </a>
                                <a href="/delete-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Видалити</button>
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Назва</th>
                        {% for category in userEvalSystem %}
                            <td>{{ category.title }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Тип</th>
                        {% for category in userEvalSystem %}
                            <td>{{ category.type }}</td>
                        {% endfor %}
                    </tr>
                    {% for category in userEvalSystem %}
                        {% for params in category.params %}
                            <tr>
                            <th>{{ params.title }}</th>
                            {% for user in category.userMarks %}
                                {% for marks in user.marks %}
                                        <th>{{ marks.title }}</th>
                                {% endfor %}
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            {#            Таблиця не оцінених #}
            <div class="container">
                <h2>Не оцінені категорії</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Операції</th>
                        {% for category in notEvaledSystem %}
                            <th>
                                <a href="/edit-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Оцінити</button>
                                </a>
                                <a href="/delete-category/{{ category._id }}">
                                    <button class="btn btn-sm btn-outline-secondary">Видалити</button>
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Назва</th>
                        {% for category in notEvaledSystem %}
                            <td>{{ category.title }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Тип</th>
                        {% for category in notEvaledSystem %}
                            <td>{{ category.type }}</td>
                        {% endfor %}
                    </tr>
                    {% for param in notEvaledSystem[0].params %}
                        <tr>
                            <th>{{ param.title }}</th>
                            {% for category in notEvaledSystem %}
                                {% for categoryParam in category.params %}
                                    {% if categoryParam.title == param.title %}
                                        <td>{{ categoryParam.rating }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}