{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    Сформувати запит для вибору ЕНР:
                </a>
            </div>

            <div class="col-md-3 text-end">
                {% if user %}
                    {% if user.role == "admin" %}
                        <a href="{{ path:('admin/panel') }}"><button type="button" class="btn btn-outline-primary me-2 ">Панель Адміністратора</button></a>
                        <a href="{{ path:('logout') }}"><button type="button" class="btn btn-outline-primary me-2 ">Вийти</button></a>
                    {% else %}
                            <a class="btn btn-primary" href="/logout">Вийти</a>
                    {% endif %}

                {% else %}
                    <a href="{{ path:('login') }}"><button type="button" class="btn btn-outline-primary me-2">Увійти</button></a>
                    <a href="{{ path:('register') }}"><button type="button" class="btn btn-primary">Зареєструватися</button></a>
                {% endif %}
            </div>
        </header>
    </div>

{# todo apply row 104 categories #}
        <div>
            {{ categories }}
            <ul>
                {% for category in categories %}
                    {% set name = category.name %}
                    <li>
                        <input type="radio" name="{{ name }}" id="">
                        <p>{{ name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>


    
{% endblock %}
