{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    Сформувати запит для вибору ЕНР:
                </a>
            </div>

            <div class="col-md-3 text-end">
                {% if user %}
                    {% if user.role == "admin" %}
                        <a href="{{ path:('admin/panel') }}"><button type="button" class="btn btn-outline-primary me-2 ">Панель Адміністратора</button></a>
                        <a href="{{ path:('logout') }}"><button type="button" class="btn btn-outline-primary me-2 ">Вийти</button></a>
                    {% else %}
                            <a class="btn btn-primary" href="/logout">Вийти</a>
                    {% endif %}

                {% else %}
                    <a href="{{ path:('login') }}"><button type="button" class="btn btn-outline-primary me-2">Увійти</button></a>
                    <a href="{{ path:('register') }}"><button type="button" class="btn btn-primary">Зареєструватися</button></a>
                {% endif %}
            </div>
        </header>
    </div>

    <form action="/apply-resource" method="post">
    <div>
        <fieldset>
            <legend>Оберіть тип навчальної системи:</legend>
                <div>
                    <select name="type_of_resource" id="type_of_resource">
                        {% for category in categories %}
                            {% set name = category.name %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend>Оберіть бажані критерії</legend>

            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G1" id="k1"><label for="k1">Інтерактивність</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G2" id="k2"><label for="k2">Мультимедійність</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G3" id="k3"><label for="k3">Можливість модифікації</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G4" id="k4"><label for="k4">Кросплатформеність</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G5" id="k5"><label for="k5">Вільнопоширюваність</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G6" id="k6"><label for="k6">Архітектура</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G7" id="k7"><label for="k7">Функціональність</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G8" id="k8"><label for="k8">Чисельність тем для опрацювання</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G9" id="k9"><label for="k9">Відповідність предметній області</label></div>
            <div><select name="quantity">
                    {% for value in 1..9 %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select><input type="checkbox" name = "check" value="G10" id="k10"><label for="k10">Відповідність навчального змісту освітнім стандартам</label></div>
        </fieldset>
    </div>
    <button type="submit">Вибрати</button>
    </form>
{% endblock %}
