{% extends "layout.twig" %}
{% block styleHead %}
    <style>
        .canvas {
            background-color: darkgrey;
            border-radius: 50%;
            position: relative;
            z-index: -100;
        }
        .stick {
            width: 12rem;
            height: 0.5rem;
            background-color: black;
            transform-origin: left;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
        }
    </style>
{% endblock %}

{% block body %}
{#
    {{ system.xyArray[1] --depr}}
<h1>{{ system.tiltArray }}</h1>
<h3>{{ system.Pn_param }}</h3>
#}
<h1> Результат пошуку: </h1>

<table>
    {% for system in systems %}
        <tr>
            <td><h2>{{ system.title }}</h2></td>
            <td>
                <div class="canvas">
                    <div class="polygon" style="{{ system.polygon }}">
                    </div>
                    {% for rotation in system.tiltArray %}
                        <div class="stick" style="transform: rotate({{ rotation }}deg)"></div>
                    {% endfor %}
                </div>

            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}