{% extends "layout.twig" %}
{% block styleHead %}
    <style>
        body {
            background: rgba(13, 166, 217, 0.1);
        }
        .canvas {
            background-color: #e6e4e3;
            border-radius: 50%;
            position: relative;
            z-index: -100;
            margin-left: 350px;
            margin-bottom: 100px;
            margin-top: 100px;
        }
        .stick {
            width: 12rem;
            height: 0.8rem;
            background-color: black;
            transform-origin: left;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
        }
        .name {
            font-size: 42px;
        }
        .tab {
        }
        .sticky-block {
            position: fixed;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-color: #f1f1f1;
            padding: 30px;
            border: 1px solid #ccc;
        }
        .legend-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .legend-list li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .legend-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .legend-label {
            font-size: 14px;
            margin: 0;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Результат пошуку:</h1>
    <aside class="sticky-block">
        <h1 style="margin-bottom: 40px">Легенда діаграми</h1>
        <ul class="legend-list">
            {% set color_pallet = [
                '#1f77b4', '#ff7f0e', '#2ca02c',
                '#d62728', '#9467bd', '#8c564b',
                '#e377c2', '#7f7f7f', '#bcbd22',
                '#17becf'
            ] %}
            {% for vertex in name_of_each_vertex %}
                {% set color_position = chosenCheck[loop.index0] %}
                <li>
                    <div class="legend-icon" style="background-color: {{ color_pallet[color_position] }}"></div>
                    <p class="legend-label">{{ vertex }}</p>
                </li>
            {% endfor %}
        </ul>
    </aside>
    <table class="tab">
        {% for system in systems %}
            <tr>
                <td><h2 class="name">{{ system.title }}:</h2></td>
                <td>
                    <div class="canvas">
                        <div class="polygon" style="{{ system.polygon }}"></div>
                        {% for rotation in system.tiltArray %}
                            {% set color_position = chosenCheck[loop.index0] %}
                            {% set value = system.Pn_param[loop.index0] %}
                            <div class="stick" style="transform: rotate({{ rotation }}deg);
                                    background-color: {{ color_pallet[color_position] }};
                                    border: 0.15rem solid lightgray;
                                    border-radius: 50% 10% 10% 50%">
                                <div class="number"
                                    style="margin-left: 12.4rem;
                                    display: inline-block;
                                    transform: rotate(-{{ rotation }}deg)">{{ value|number_format(2)}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
